.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input {
  margin-top: 2rem;
  width: 50vw;
  padding: 0.7rem;
  border-radius: 10px;
  border: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input:focus {
  outline: none;
  border: 2px solid green;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(229, 238, 252);
}
